@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<address>
    <strong>Electronic Health Solutions.BV (EHS)</strong><br/>
    Niels Bohrweg 1<br/>
    Leiden, 2333 CA<br/>
  <abbr title="Phone">P:</abbr> +31-71-527-7101
</address>

<address>
    <strong>Information</strong><br/>
    <a href="mailto:info@example.com">info@ehs.com</a>
    

</address>


@*
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>*@