body
{
    padding-top: 50px;
}


/*Roundabout*/
 .roundabout-holder {
      list-style: none;
	  padding: 0;
	  margin: 0 auto;
	  width: 70%;
	  height: 24em;
   }
 .roundabout-holder p {
     font-size: 0.8em;
 }
   .roundabout-moveable-item {
        height: 20em;
	    width: 50%;
	    background-color: #c2c2c2;
	    text-align: center;
	    cursor: pointer;
   }
.roundabout-in-focus {
    cursor: default;
}

.roundabout-in-focus table {
    font-size: 0.6em;
}

.roundabout-moveable-item div.content, .roundabout-moveable-item div.action-buttons
{
    -webkit-transition: opacity 0.8s ease-out;
    -moz-transition: opacity 0.8s ease-out;
    -o-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out;
    opacity: 0;
}

.roundabout-moveable-item.roundabout-in-focus div.content, .roundabout-moveable-item.roundabout-in-focus div.action-buttons {
    opacity: 1;
   }
@media (max-width: 768px)
{
    #roundabout
    {
        list-style-type: none;
        padding: 0;
        margin-left: 0;
    }

    #roundabout table {
        font-size: 0.7em;
    }
}
			/*ul {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				width: 42em;
				height: 24em;
			}
			li {
				height: 20em;
				width: 30em;
				background-color: #ccc;
				text-align: center;
				cursor: pointer;
			}
				li.roundabout-in-focus {
					cursor: default;
				}
			li span {
				display: block;
				padding-top: 6em;
			}

			#carbonads-container .carbonad {
				margin: 0 auto;
			}*/
		